
<p>
  <strong>Name :</strong>
  <%= absen.name %>
</p>

<p>
  <%= link_to 'Destroy Absen', [absen.meet, absen],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
</p>