<%= form_with(model: [ @meet, @meet.absens.build ], local: true) do |form| %>
  	<div class="row">
  		<div class="col-md-3">

		  
		    <%= form.label :name %>
		    <%= form.text_field :name, class: 'form-control' %>
		 
			<div class="row"> 
				<div class="col-md-5">					
			    	<%= form.submit "Save", class: "btn btn-outline-success" %>
			    </div>
			    <div class="col-md-5">
			    	<%= link_to 'Back', meets_path, class: "btn btn-outline-dark" %>
			  		
			    </div>			    	
			</div>
			  
		</div>
	</div>
<% end %>