<%= form_with(model: akun, local: true) do |form| %>
  <% if akun.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(akun.errors.count, "error") %> prohibited this akun from being saved:</h2>

      <ul>
      <% akun.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



  <div class="row">
    <div class="col-md-4 ">
      <%= form.label :name %>
      <%= form.text_field :name, class: "form-control" %>

      <%= form.label :akun %>
      <%= form.text_field :name, class: "form-control" %>

      <%= form.label :team %>
      <%= form.text_field :team, class: "form-control" %>

      <div class="row">
        <div class="col-md-4">
          <%= form.submit "Save", class: "btn btn-outline-success" %>  
        </div>
        <div class="col-md-4">
          <%= link_to 'Back', akuns_path, class: "btn btn-outline-dark" %>
        </div>
      </div>

    </div>
  </div>

<% end %>