<p id="notice"><%= notice %></p>

<h1>Akuns</h1>

<table class="table table-responsive">
  <thead class="table-dark">
    <tr align="center">
      <th>No</th>
      <th>Name</th>
      <th>Akun</th>
      <th>Team</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% i= 0 %>
    <% @akuns.each do |akun| %>
    <% i += 1 %>
      <tr>
        <td><%= "#{i}" %></td>
        <td><%= akun.name %></td>
        <td><%= akun.akun %></td>
        <td><%= akun.team %></td>
        <td><%= link_to 'Show', akun %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Akun', new_akun_path, class: "btn btn-outline-secondary" %>
