<p id="notice"><%= notice %></p>

<!-- <h1>Meets <a class="btn btn-outline-dark btn-sm" href="/meets/new" role="button">NEW</a></h1>  -->

<div class="row">
  <div class="col-md-6">
    <table class="table table-responsive">
      <thead class="table-dark">
        <tr align="center">
          <th>Pertemuan</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <% @meets.each do |meet| %>
          <tr>
            <td><%= meet.pertemuan %></td>
            <td><%= link_to 'Show', meet %> </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
