<p id="notice"><%= notice %></p>

 
<h1>Pertemuan :  <%= @meet.pertemuan %></h1>

<div class="row">
	<div class="col-md-6">
		<table class="table table-responsive">
			<thead>
				<tr align="center">
					<th>No</th>
					<th>Name</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
				<% i = 0 %>
				<% @meet.absens.each do |absen| %>
				<% i += 1 %>
					<tr>
						<td><%= "#{i}" %></td>
						<td><%= absen.name %></td>
						<td><%= link_to 'Destroy', [absen.meet, absen],
               method: :delete,
               data: { confirm: 'Are you sure?' } %></td>
					</tr>
				<% end %>
			</tbody>
		</table>
	</div>

	<div class="col-md-6">
		
	</div>	
</div>

<h2>Add Absen : </h2>
		<%= render 'absens/form' %>
		


