<!DOCTYPE html>
<html>
  <head>
    <title>Pertemuan</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if current_user %>
      Signed in as <%= current_user.name %> | <%= link_to "Logout", '/logout', class: 'btn btn-outline-dark' %>
    <% else %>
      <%= link_to 'Login', '/login', class: 'btn btn-outline-dark' %> | <%= link_to 'Signup', '/signup', class: 'btn btn-outline-dark' %>
    <% end %>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
